<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AsyncDataGridViewLoad.Properties.Settings.portalConnectionString" connectionString="Data Source=per730xd.etlabnet.local\ss17;Initial Catalog=portal;Persist Security Info=True;User ID=sa;Password=Sl_service" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>
