<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="CAApp" value="C:\Program Files (x86)\Spacelabs\ICS\Clinical Access\ClinicalHistoryXP.exe"/>
    <add key="AnalysisTime" value="20000"/>
    <add key="TimeInterval" value="10000"/>
    <add key="Duration" value="Previous 1 Hour"/>
  </appSettings>
</configuration>