<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DBConnectStr" value="Data Source=SNODRND0085;Initial Catalog=regressiontest;Integrated Security=True"/>
  </appSettings>
</configuration>