<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
    </connectionStrings>
  <appSettings>
    <add key="LoadPatChQuery" value="  SELECT
    DISTINCT pc.patient_channel_id,
    label,
    c.channel_type_id,
    freq
    from int_channel_type c
    INNER JOIN int_patient_channel pc
    on pc.patient_id=@patient_id AND c.channel_type_id IN (select Distinct(channel_type_id)
    from int_patient_channel pc inner Join int_waveform w
    on pc.patient_channel_id =w.patient_channel_id
    and w.patient_id =@patient_id)
    AND pc.patient_channel_id IN(select DISTINCT w.patient_channel_id 
    from int_patient_channel pc inner Join int_waveform w
    on pc.patient_channel_id =w.patient_channel_id
    and w.patient_id =@patient_id)
    INNER JOIN int_patient_monitor AS PATMON
    INNER JOIN  int_monitor AS MON
    ON MON.monitor_id=PATMON.monitor_id
    ON  PATMON.patient_monitor_id=pc.patient_monitor_id
    WHERE pc.channel_type_id =c.channel_type_id
 "/>
    <add key="LoadBinWaveform" value="SELECT
    CHTYP.label,PATCH.channel_type_id,PATCH.patient_channel_id,WAFRM.start_dt,WAFRM.start_ft,WAFRM.end_ft,WAFRM.waveform_data
    FROM int_channel_type AS CHTYP
    INNER JOIN int_patient_channel AS PATCH
    INNER JOIN int_patient_monitor AS PATMO
    INNER JOIN int_monitor AS MON
    ON MON.monitor_id=PATMO.monitor_id
    ON PATMO.patient_monitor_id=PATCH.patient_monitor_id
    ON PATCH.channel_type_id=CHTYP.channel_type_id  AND PATCH.patient_id=@patient_id
    INNER JOIN int_waveform AS WAFRM
    ON WAFRM.patient_channel_id=PATCH.patient_channel_id AND WAFRM.patient_id=@patient_id
    where PATCH.patient_channel_id =@patient_channel_id
    ORDER by PATCH.channel_type_id,WAFRM.start_dt"/>
   
    

  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
